/* Start Global Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-paddind-top: 100px;
  --main-paddind-bottom: 100px;
  --sectione-background: #ececec;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Coponents */
.main-heading {
  margin: 0 auto 80px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 20px;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.main-heading::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: var(--main-color);
  border-radius: 50%;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-heading::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: var(--main-color);
  border-radius: 50%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-heading:hover::before {
  z-index: -1;
  animation: left-move 0.4s linear forwards;
}
.main-heading:hover::after {
  z-index: -1;
  animation: right-move 0.4s linear forwards;
}
.main-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.4s;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  right: 0;
  background-image: linear-gradient(230deg, white 25%, transparent 25%),
    linear-gradient(134deg, white 25%, transparent 25%);
  background-size: 30px 30px;
  z-index: 1;
}
.dots {
  background-image: url(../imgs/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End Coponents */
body .scroller {
  background-color: #0075ff;
  width: 0;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
/* Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
}
header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  color: black;
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 50px;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
header .mega-menu {
  position: absolute;
  background-color: white;
  z-index: -1;
  left: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 40px;
  border-bottom: 3px solid var(--main-color);
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
header .mega-menu .links {
  max-width: 250px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  background-color: #fafafa;
  width: 0;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover:before {
  width: 100%;
}
header .mega-menu .links li a {
  display: block;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
}
header .mega-menu .links a i {
  margin-right: 5px;
}
header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image img {
    display: none;
  }
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  height: 100%;
  width: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -1px;
}
@media (max-width: 768px) {
  .landing .text h1 {
    font-size: 25px;
  }
}
.landing .text p {
  font-size: 24px;
  margin: 5px 0 0;
  line-height: 1.7;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover i {
  color: blueviolet;
  animation-play-state: paused;
}
.landing .go-down i {
  animation: bouncing 1.5s linear infinite;
}
/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles img {
  max-width: 100%;
}
.articles .box {
  border-radius: 6px;
  box-shadow: 0 2px 15px hsl(0deg 0% 0% / 10%);
  overflow: hidden;
  transition: transform var(--main-transition), box-sadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px hsl(0deg 0% 0% / 20%);
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0;
  color: #777;
  line-height: 1.5;
}
.articles .box .info {
  border-top: 1px solid #e6e6e7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: moving-arrow 1s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  background-color: var(--sectione-background);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  height: 0;
  width: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .img-holder {
  position: relative;
  overflow: hidden;
}

.features .img-holder::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .img-holder::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
}
.features .box:hover .img-holder:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 170px 0;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box img {
  max-width: 100%;
  overflow: hidden;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -20px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .box p {
  color: #777;
  line-height: 2;
  padding: 25px;
  margin: 30px 0;
  font-size: 20px;
}
.features .box a {
  display: block;
  margin: 0 auto 30px;
  padding: 15px 40px;
  background-color: white;
  font-weight: bold;
  border: 5px solid blue;
  width: fit-content;
  font-size: 20px;
  transition: var(--main-transition);
}
.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  border-radius: 5px;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right, bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  border-radius: 5px;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right, bottom;
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  border-radius: 5px;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right, bottom;
}
.features .box:hover a {
  color: white;
  background-position: left, bottom;
}

/* End Features */
/* Start Testmonials */
.testmonials {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  background-color: var(--sectione-background);
  position: relative;
}
.testmonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testmonials .box {
  background-color: white;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.testmonials img {
  position: absolute;
  right: -10px;
  top: -50px;
  height: 100px;
  width: 100px;
  border: 10px solid var(--sectione-background);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testmonials h3 {
  margin: 0 0 10px;
}
.testmonials .title {
  color: #777;
  margin: 0 0 10px;
}
.testmonials .rate {
  margin: 10px 0 0;
}
.testmonials .rate .filld {
  color: #ffc107;
}
.testmonials p {
  color: #777;
  line-height: 1.5;
  color: #777;
  margin: 10px 0 0;
}
/* End Testmonials */
/* Start Team-Members */
.team-members {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  position: relative;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team-members .box {
  position: relative;
}
.team-members .box::before,
.team-members .box::after {
  position: absolute;
  content: "";
  background-color: #f3f3f3;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 60px);
  border-radius: 10px;
  z-index: -2;
}
.team-members .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team-members .box::after {
  background-color: #e4e4e4;
  z-index: -1;
  width: 0;
  transition: var(--main-transition);
}
.team-members .box:hover:after {
  background-color: #e4e4e4;
  z-index: -1;
  width: calc(100% - 60px);
}
.team-members .date {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team-members img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team-members .box:hover img {
  filter: grayscale(100%);
}
.team-members .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60px;
  gap: 20px;
}
.team-members .icon a {
  display: flex;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.team-members .icon a i {
  color: #777;
}
.team-members .icon a:hover i {
  color: var(--main-color);
}
.team-members .info {
  padding-left: 80px;
}
.team-members .info h3 {
  color: var(--main-color);
  margin-bottom: 0;
  font-size: 22px;
  transition: var(--main-transition);
}
.team-members .box:hover h3 {
  color: #777;
}
.team-members .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* End Team-Members */
/* Start Services */
.services {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  background-color: var(--sectione-background);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  counter-increment: services;
  transition: var(--main-transition);
}
.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services i {
  margin: 30px auto 20px;
  display: block;
  color: #d5d5d5;
  text-align: center;
}
.services h3 {
  margin: 20px 0 40px;
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
}
.services a {
  color: var(--main-color);
}
.services .info {
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right;
}
.services .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-weight: bold;
  font-size: 30px;
  background-color: var(--main-color);
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .info::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  left: 80px;
  top: 0;
  transform: skew(-32deg);
}
/* End Services */
/* Start Our Skills */
.our-skills {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skills h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--main-color);
  padding: 3px 5px;
}
.our-skills .skills .the-progress {
  height: 30px;
  background-color: var(--sectione-background);
  position: relative;
}
.our-skills .skills .the-progress span {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
  transition: width 0.3s linear;
}
.our-skills .prog-skills .prog {
  background-color: var(--main-color);
  height: 30px;
}
/* End Our Skills */
/* Start Work Steps */
.work-steps {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  position: relative;
  background-color: var(--sectione-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-steps .image {
    margin: 0 0 50px;
  }
}
.work-steps .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .info .box img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .work-steps .info .box img {
    margin: 0 0 30px;
  }
}
.work-steps .info .box h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
/* End Work Steps */
/* Start Events */
.events {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  position: relative;
}
@media (max-width: 1200px) {
  .events .dots-up,
  .events .dots-down {
    display: none;
  }
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events img {
    display: none;
  }
}
.events .info {
  flex: 1;
}
.events .info .time {
  display: flex;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.events .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
}
.events .unit span {
  display: block;
  transition: var(--main-transition);
}
.events .unit span:first-child {
  font-weight: bold;
  color: var(--main-color);
  font-size: 35px;
}
.events .unit span:last-child {
  text-align: center;
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
.events .unit:hover,
.events .unit:hover span:last-child {
  border-color: var(--main-color);
}
.events .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
.events .subscrib {
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.events .subscrib form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .subscrib form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border: none;
  }
}
.events .subscrib form input[type="email"] {
  padding: 20px;
  border-radius: 10px;
  border: none;
  caret-color: var(--main-color);
  flex: 1;
}
.events .subscrib form input[type="email"]:focus {
  outline: none;
}
.events .subscrib form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscrib form input[type="submit"] {
  border-radius: 10px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.events .subscrib form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Events */
/* Start Plans */
.pricing {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  position: relative;
  background-color: var(--sectione-background);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  text-align: center;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing .box::before {
  top: 0;
  left: 0;
}
.pricing .box::after {
  bottom: 0;
  right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
.pricing .box .label {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  writing-mode: vertical-rl;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  font-weight: bold;
  right: 20px;
  width: 40px;
}
.pricing .box .label::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
  right: 0;
  bottom: 0;
}
.pricing .box .title {
  font-weight: bold;
  margin: 30xp 0;
  font-size: 25px;
  letter-spacing: -1;
}
.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}
.pricing .box .time {
  color: #777;
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
.pricing .box a {
  display: block;
  width: fit-content;
  padding: 10px 15px;
  margin: 30px auto 40px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  color: white;
  background-color: var(--main-color);
}
/* End Plans */
/* Start Videos */
.videos {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 20px;
}
.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}
/* End Videos */
/* Start Our-Stats */
.stats {
  padding-top: var(--main-paddind-top);
  padding-bottom: var(--main-paddind-bottom);
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  position: relative;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  position: relative;
  width: fit-content;
  font-size: 40px;
  margin: 0 auto 50px;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .container .box {
  text-align: center;
  background-color: white;
  padding: 30px 15px;
  position: relative;
  opacity: 0.8;
  transition: 1s;
}
.stats .container .box:hover {
  opacity: 1;
}
.stats .container .box::before,
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .container .box::before {
  left: 0;
  top: 0;
}
.stats .container .box::after {
  right: 0;
  bottom: 0;
}
.stats .container .box:hover:before,
.stats .container .box:hover:after {
  height: 100%;
}

.stats .container .box .num {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .container .box .text {
  font-weight: bold;
  color: var(--main-color);
  font-size: 18px;
  font-style: italic;
}
/* End Our-Stats */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .dis-box {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 5s linear infinite;
}
.discount .dis-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .dis-box {
    flex-basis: 100%;
  }
}
.discount .riq-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .discount .riq-box {
    flex-basis: 100%;
  }
}
.discount .riq-box .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .riq-box textarea.input {
  resize: none;
  height: 200px;
}
.discount .riq-box .input:focus {
  outline: none;
}
.discount .riq-box [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .riq-box [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
/* End Discount */
/* Start scroll-to-top */
.scroll-to-top {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 25px;
  bottom: -40px;
  background-color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}
.scroll-to-top i {
  display: flex;
  margin-top: 7px;
  font-size: 20px;
  justify-content: center;
  color: #313131;
  transition: 0.5s;
}
.scroll-to-top:hover {
  background-color: var(--main-color-alt);
}
.scroll-to-top:hover i {
  color: white;
}
.scroll-to-top.show {
  bottom: 25px;
}
/* End scroll-to-top */
/* Start Footer */
.footer {
  padding: 70px 0 0;
  background-color: #191919;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box {
  color: white;
}
.footer h3 a {
  font-size: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0 0 20px;
}
.footer .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .social {
    justify-content: center;
  }
}
.footer .social li {
  margin-right: 10px;
}
.footer .social li a {
  background-color: #313131;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  transition: var(--main-transition);
}
.footer .social .facebook {
  color: #1877f2;
}
.footer .social .youtube {
  color: #ff0000;
}
.footer .social .twitter {
  color: #1da1f2;
}
.footer .social .facebook:hover {
  color: white;
  background-color: #1877f2;
}
.footer .social .youtube:hover {
  color: white;
  background-color: #ff0000;
}
.footer .social .twitter:hover {
  color: white;
  background-color: #1da1f2;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .footer .line i {
    margin-bottom: 10px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .gallery-footer img {
  width: 78px;
  margin: 2px;
  border: 3px solid white;
}
.footer .copyright {
  text-align: center;
  color: white;
  padding: 25px 0;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
.footer .copyright i {
  color: green;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 150%;
    height: 150%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../imgs/discount-background1.jpg);
  }
  50% {
    background-image: url(../imgs/discount-background2.jpg);
  }
}
/* End Animation */
